h1{
    text-align: center;
    color: blueviolet;
}
#cu{
    color: white;
    text-shadow: 2px 2px blue;
}
#rojo{
    color: crimson;
    margin: 10px;
}
.home{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
    flex: 1;
    min-width: 360px;
    
}
.in-flex:first-child{
    flex: 2;
    padding: 10px;
    background-color: white;
    margin: 10px;
    margin-bottom: 0px;
}
.in-flex div{
    padding: 10px;
    background-color: white;
    margin: 10px;
}
#centro{
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p{
    text-align: justify;
}
#tumba{
    max-width: 100%;
    border-radius: 25%;
}

#power{
    max-width: 100%;
    
}
/*   galeria moche   */
.galeria{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria li{
    margin: 5px;
}
.galeria img{
    width: 200px;
    height: 200px;
}

.modal{
    display: none;

}


.modal:target{
    display: block;
    position: fixed;
    background: rgba(65, 63, 63, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3{
    color: white;
    text-shadow: 2px 2px blue;
   
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
}

.imagne{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.imagne a{
    color: white;
    font-size: 70px;
    text-decoration: none;
    margin: 0 20px;
}
.imagne a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagne img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid white;
    box-sizing: border-box;
}

.cerrar{
    display: block;
    background: cornflowerblue;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: cyan;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

#dav{
    background-color: rgb(20, 20, 20);
}